.nav-item a:hover {
    color: darkblue;
    background: skyblue;
}

.nav-item a {
    font-family: "Times New Roman", Times, serif;
}

.navbarDropdown li {
    text-emphasis-color: black;
}

.nav-link:active {
    background: red;
    text-decoration: none;
}